<div id="masthead">
    <div class="container">
        <div class="row header">
            <div class="col-md-11">
                <h1>
                    {{title}}
                    <p class="lead">23rd July 2017</p>
                </h1>
            </div>
            <div class="col-md-1">
                <div class="advert">
                    <img src="/img/logo-transparent.png" />
                </div>
            </div>

        </div>
    </div><!--/container-->
</div><!--/masthead-->

<div class="container">
    <div class="row">
        <div class="col-md-3" id="left-col">
            <ul class="nav nav-stacked" id="sidebar">
                <li><a [routerLink]="['itinery']">Itinery</a></li>
                <li><a [routerLink]="['our-story']">Our Story</a></li>
                <li><a [routerLink]="['bridal-party']">Bridal Party</a></li>
                <li><a [routerLink]="['menu']">Menu</a></li>
                <li><a [routerLink]="['directions']">Directions and Map</a></li>
                <li><a [routerLink]="['accommodation']">Accommodation</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>