<div class="container">
    <div class="col-md-6">
        <form class="form-user" [formGroup]="userForm" (submit)="onSubmit()">
            <h2 class="form-user-heading">{{title}}</h2>
            <div class="form-group">
                <input [disabled]="!this.isRegister" formControlName="username" type="text" class="form-control" placeholder="Choose a username" autofocus />
                <span class="validator-label valid" *ngIf="this.userForm.controls.username.valid">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    valid!
                </span>
                <span class="validator-label invalid" *ngIf="!this.userForm.controls.username.valid && !this.userForm.controls.username.pristine">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    invalid
                </span>
            </div>
            <div class="form-group">
                <input formControlName="email" type="text" class="form-control" placeholder="Type your email address" />
                <span class="validator-label valid" *ngIf="this.userForm.controls.email.valid">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    valid!
                </span>
                <span class="validator-label invalid" *ngIf="!this.userForm.controls.email.valid && !this.userForm.controls.email.pristine">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    invalid
                </span>
            </div>
            <div *ngIf="!this.isRegister" class="form-group">
                <input formControlName="passwordCurrent" type="password" class="form-control" placeholder="Current Password" />
                <span class="validator-label invalid" *ngIf="!this.userForm.controls.passwordCurrent.valid">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    required
                </span>
            </div>
            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" placeholder="Choose a password" />
                <span class="validator-label valid" *ngIf="this.userForm.controls.password.valid && !this.userForm.controls.password.pristine">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    valid!
                </span>
                <span class="validator-label invalid" *ngIf="!this.userForm.controls.password.valid && !this.userForm.controls.password.pristine">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    invalid
                </span>
            </div>
            <div class="form-group">
                <input formControlName="passwordConfirm" type="password" class="form-control" placeholder="Confirm your password" />
                <span class="validator-label valid" *ngIf="this.userForm.controls.passwordConfirm.valid
                  && !this.userForm.controls.passwordConfirm.pristine
                  && !this.userForm.hasError('comareFailed')">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    valid!
                </span>
                <span class="validator-label invalid" *ngIf="(!this.userForm.controls.passwordConfirm.valid && !this.userForm.controls.passwordConfirm.pristine)
                  || this.userForm.hasError('compareFailed')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    invalid
                </span>
            </div>
            <div class="form-group">
                <input formControlName="displayName" type="text" class="form-control" placeholder="Choose a display name" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" [disabled]="!userForm.valid" value="{{this.isRegister ? 'Register' : 'Save'}}" />
            </div>
        </form>
        <div class="alert alert-danger" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </div>
</div>