################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/WeddingSite.Solution/src/WeddingSite/obj/Debug/net461
src/WeddingSite.Solution/src/WeddingSite/node_modules
src/WeddingSite.Solution/src/WeddingSite/bin/Debug/net461
/src/WeddingSite.Solution/src/WeddingSite/bin/Release/net461
/src/WeddingSite.Solution/src/WeddingSite/obj
