<h2>Our Wedding Wish</h2>
<p>
    You’re invited to our wedding, when we both say ‘I Do’
    and as you know we’ve been ‘I do’-ing for at least a year or two!
</p>
<p>
    We’ve been together many years, and have a lovely home,
    There’s not that many items we don’t already own.
</p>
<p>
    So if your thoughts were on a gift, your presence will suffice;
    But if you really feel the need, donations to a honeymoon would be really nice!
</p>
<p>
    The choice is really up to you and we’d just like to say;
    That most of all, we hope you come, enjoy yourselves, and have a lovely day!
</p>

